.hidden {
  display: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-rev {
  display: flex;
  flex-direction: row-reverse;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.disable-scrollbars::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbar-x {
  overflow-x: hidden;
}

.hide-scrollbar-y {
  overflow-y: hidden;
}

.typst-text {
  pointer-events: bounding-box;
}

.tsel span,
.tsel {
  left: 0;
  position: fixed;
  text-align: justify;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  text-align-last: justify;
  color: transparent;
}

.tsel span::-moz-selection,
.tsel::-moz-selection {
  color: transparent;
  background: #7db9dea0;
}

.tsel span::selection,
.tsel::selection {
  color: transparent;
  background: #7db9dea0;
}

svg {
  --glyph_fill: black;
}

.pseudo-link {
  fill: transparent;
  cursor: pointer;
  pointer-events: all;
}

.image_glyph image,
.outline_glyph path,
path.outline_glyph {
  transform: matrix(1, 0, 0, 1, var(--o), 0);
}

.outline_glyph path,
path.outline_glyph {
  fill: var(--glyph_fill);
}

.hover .typst-text {
  --glyph_fill: #66bab7;
}

.typst-jump-ripple,
.typst-debug-react-ripple {
  width: 0;
  height: 0;
  background-color: transparent;
  position: absolute;
  border-radius: 50%;
}

.typst-jump-ripple {
  border: 2px solid #66bab7;
}

.typst-debug-react-ripple {
  border: 1px solid #cb1b45;
}

@keyframes typst-jump-ripple-effect {
  to {
    width: 10vw;
    height: 10vw;
    opacity: 0.01;
    margin: -5vw;
  }
}

@keyframes typst-debug-react-ripple-effect {
  to {
    width: 3vw;
    height: 3vw;
    opacity: 0.1;
    margin: -1.5vw;
  }
}

/* #gistd-doc {
  width: fit-content;
  margin: 0;
  transform-origin: 0 0;
} */

#gistd-doc {
  display: flex;
  justify-content: center;
  --typst-dom-scale: 1.5;
  margin: 5px;
  overflow: auto;
}

.typst-dom-page {
  width: calc(var(--data-page-width, 100%) * var(--typst-dom-scale));
  height: calc(var(--data-page-height) * var(--typst-dom-scale));
  --data-text-width: calc(1px * var(--typst-dom-scale));
  --data-text-height: calc(1px * var(--typst-dom-scale));
  margin: auto;
}

.typst-back-canvas {
  position: absolute;
  z-index: -1;
  width: calc(var(--data-page-width, 100%) * var(--typst-dom-scale));
  height: calc(var(--data-page-height) * var(--typst-dom-scale));
  pointer-events: none;
}

.typst-svg-page {
  position: absolute;
  z-index: 0;
  width: calc(var(--data-page-width, 100%) * var(--typst-dom-scale));
  height: calc(var(--data-page-height) * var(--typst-dom-scale));
}

.typst-html-semantics {
  position: absolute;
  z-index: 2;
  width: calc(var(--data-page-width, 100%) * var(--typst-dom-scale));
  height: calc(var(--data-page-height) * var(--typst-dom-scale));
  color: transparent;
  font-family: monospace;
  white-space: pre;
}

.typst-html-semantics span {
  color: transparent;
  font-family: monospace;
  transform-origin: left top;
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
}

.typst-content-hint {
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.typst-html-semantics a {
  position: absolute;
  display: inline-block;
}

/* set transparent itself */
.typst-content-group {
  pointer-events: visible;
}

.typst-html-semantics span::-moz-selection {
  color: transparent;
  background: #7db9dea0;
}

.typst-html-semantics span::selection {
  color: transparent;
  background: #7db9dea0;
}

.typst-html-semantics *::-moz-selection {
  color: transparent;
  background: transparent;
}

.typst-html-semantics *::selection {
  color: transparent;
  background: transparent;
}

.typst-content-fallback {
  color: transparent;
  background: transparent;
}

.pseudo-link,
.typst-text {
  pointer-events: none;
}

.typst-dom-page {
  background-color: white;
  margin: 10px 0;
}
